{% extends "layout.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="columns">
    <div class="column"></div>
    <div class="column is-four-fifths">
        <div>
            <a href="/task/new"><button class="button">Agregar</button></a>
        </div>
        <div>

            <table class='table'>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Fecha estimada</th>
                        <th>¿Completado?</th>
                        <th>Fecha de creación</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    {% for row in rows %}
                    <tr id="row-{{ row['id'] }}">
                        <td>{{ row['id'] }}</td>
                        <td>{{ row['name'] }}</td>
                        <td>{{ row['description'] }}</td>
                        <td style="{{ row['style'] }}" >{{ row['finish_date'] }}</td>
                        <td>
                            <label class="checkbox">
                                <input
                                    type="checkbox"
                                    hx-post="/update_task"
                                    hx-trigger="change"
                                    hx-params="serialize"
                                    hx-target="#row-{{ row['id'] }}"
                                    hx-swap="outerHTML"
                                    name="is_complete"
                                    data-id="{{ row['id'] }}"
                                    {% if row['is_complete'] == True %} checked {% endif %}
                                />
                            </label>
                        </td>
                        <td>{{ row['created_on'].date() }}</td>

                        <td>
                            <a href="/task/edit/{{ row['id'] }}"><button class="button">Editar</button></a>
                            <button class="button" id="delete_{{ row['id'] }}" onclick="deleteRow('{{ row['id'] }}')">Eliminar</button>
                        </td>
                    </tr>  
                    {% endfor %}
                </tbody>
            </table>


        </div>
    </div>
    <div class="column"></div>
</div>
    
{% endblock %}

{% block scripts %}

<script>
    document.addEventListener('htmx:configRequest', function (event) {
        const input = event.target;
        if (input.name === 'is_complete') {
            const isChecked = input.checked ? 'on' : 'off';
            const rowId = input.getAttribute('data-id');
            event.detail.parameters = {
                is_complete: isChecked,
                id: rowId
            };
        }
    });
</script>


    <script>
        function deleteRow(rowId) {
            Swal.fire({
                title: "¿Estás seguro?",
                text: "¡No podrás revertir esto!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Sí, elimínalo!"
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch('/delete/' + rowId, {
                        method: 'DELETE',
                    })
                    .then(response => {
                        if (response.ok) {
                            Swal.fire({
                                title: "¡Eliminado!",
                                text: "El registro ha sido eliminado.",
                                icon: "success"
                            }).then(() => {
                                location.reload();
                            });
                        } else {
                            Swal.fire({
                                title: "Error",
                                text: "Hubo un problema al eliminar el registro.",
                                icon: "error"
                            });
                            console.error('Error al eliminar el registro:', response.statusText);
                        }
                    })
                    .catch(error => {
                        Swal.fire({
                            title: "Error",
                            text: "Hubo un problema al eliminar el registro.",
                            icon: "error"
                        });
                        console.error('Error al eliminar el registro:', error);
                    });
                }
            });
        }


    </script>
{% endblock %}