<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Aplicación Flask{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="static/images/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item is-size-5 has-text-info has-text-weight-bold" href="#"> Jorge </a>
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">

                    {% for route, name in menu %}
                        <a href="{{ url_for(route) }}" 
                        {% if request.endpoint == route %}class="active navbar-item" {% else %} class="navbar-item" {% endif %}>
                            {{ name }}
                        </a>
                    {% endfor %}

                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        
                    </div>
                </div>
            </div>
        </nav>
        
    </header>

    <main class="is-fullwidth main-div">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <div class="content has-text-centered">
            Copyright © {{ year }} | Powered by <a href="https://bulma.io/" target="_blank">Bulma</a>, <a href="https://htmx.org/" target="_blank">HTMX</a> and <a href="https://flask.palletsprojects.com/en/3.0.x/" target="_blank">Flask</a>
        </div>
    </footer>

    <script>
        async function logout() {
            const token = localStorage.getItem('token');
            if (token) {
                try {
                    const response = await fetch('/logout', {
                        method: 'POST',
                        headers: {
                            'Authorization': `Bearer ${token}`
                        }
                    });
                    if (response.ok) {
                        console.log('Logout exitoso en el servidor');
                    } else {
                        console.error('Error en el logout del servidor');
                    }
                } catch (error) {
                    console.error('Error al hacer logout:', error);
                }
            }
            
            localStorage.removeItem('token');
            window.location.href = '/';
        }

        // Función para verificar la autenticación
        function checkAuth() {
            const token = localStorage.getItem('token');
            if (!token) {
                // Si no hay token, redirigir al login
                window.location.href = '/login';
            }
            return token;
        }
    </script>
    {% block scripts %}
    <!-- Scripts específicos de cada página irán aquí -->
    {% endblock %}
</body>
</html>