<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Aplicación Flask{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/media-queries.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.2/Sortable.min.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-primary" id="flash-message">
                    <button class="delete" onclick="closeNotification()"></button>
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}

        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item is-size-5 has-text-info has-text-weight-bold" href="#"> Jorge </a>
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">

                    {% for route, name in menu %}
                        <a href="{{ route }}" 
                        {% if request.endpoint == route %}class="active navbar-item" {% else %} class="navbar-item" {% endif %}>
                            {{ name }}
                        </a>
                    {% endfor %}

                </div>
                <div class="navbar-end">
                        
                        {% if user_logged_in %}
                            <a href="{{ url_for('auth.profile') }}" class="navbar-item">
                                <button>Perfil</button>
                            </a>
                            <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                                <button>Cerrar sesión</button>
                            </a>
                        {% else %}
                            <a href="{{ url_for('auth.login') }}" class="navbar-item">
                                <button>Iniciar sesión</button>
                            </a>
                        {% endif %}
                </div>
            </div>
        </nav>

        
        
    </header>

    <main class="is-fullwidth main-div">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <div class="content has-text-centered">
            Copyright © {{ year }} | Powered by <a href="https://bulma.io/" target="_blank">Bulma</a>, <a href="https://htmx.org/" target="_blank">HTMX</a> and <a href="https://flask.palletsprojects.com/en/3.0.x/" target="_blank">Flask</a>
        </div>
    </footer>

    <script>
        function closeNotification() {
            var flashMessage = document.getElementById('flash-message');
            flashMessage.style.display = 'none';
    
            // Hacer una petición para limpiar los mensajes flash en el servidor
            fetch('{{ url_for("main.clear_flash") }}', {
                method: 'GET'
            });
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            
            if ($navbarBurgers.length > 0) {
                
                $navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {
                        
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);
                        
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');
                    });
                });
            }
        });

    </script>

    {% block scripts %}
    <!-- Scripts específicos de cada página irán aquí -->
    {% endblock %}
</body>
</html>