{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="columns">
    <div class="column"></div>
    <div class="column is-four-fifths">
        <a href="/login/github"><button class="button"><i class="fa fa-github"></i>&nbsp;Login con Github</button></a>
        <a href="/login/google"><button class="button"><i class="fa fa-google"></i>&nbsp;Login con Google</button></a>        
    </div>
    <div class="column"></div>
</div>
    
{% endblock %}

{% block scripts %}
{% endblock %}