{% extends "layout.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="columns">
    <div class="column"></div>
    <div class="column">
        <h1>Perfil del Usuario</h1>
        <p>Nombre de usuario: {{ profile['login'] }}</p>
        <p>Nombre: {{ profile['name'] }}</p>
        <p>Email: {{ profile['email'] }}</p>
        <a href="{{ url_for('auth.logout') }}">
            <button>Cerrar Sesión</button>
        </a>
    </div>
    <div class="column"></div>
</div>
{% endblock %}
