
<table class='table'>
    <thead>
        <tr>
            <th> <a href="#" hx-target="#target-tasks" hx-get="{% if orderby == 'id' %}  /task_change_view/{{ id }}/list?orderby=~id {% elif orderby == '~id' %} /task_change_view/{{ id }}/list?orderby=id {% else %} /task_change_view/{{ id }}/list?orderby=id {% endif %}" class="table-link">ID {% if orderby == "id" %} <i class="fa fa-caret-up" aria-hidden="true"></i> {% elif orderby == "~id" %} <i class="fa fa-caret-down" aria-hidden="true"></i>{% endif %} </a> </th>
            <th> <a href="#" hx-target="#target-tasks" hx-get="{% if orderby == 'project' %}  /task_change_view/{{ id }}/list?orderby=~project {% elif orderby == '~project' %} /task_change_view/{{ id }}/list?orderby=project {% else %} /task_change_view/{{ id }}/list?orderby=project {% endif %}" class="table-link">Proyecto {% if orderby == "project" %} <i class="fa fa-caret-up" aria-hidden="true"></i> {% elif orderby == "~project" %} <i class="fa fa-caret-down" aria-hidden="true"></i>{% endif %} </a> </th>
            <th> <a href="#" hx-target="#target-tasks" hx-get="{% if orderby == 'name' %}  /task_change_view/{{ id }}/list?orderby=~name {% elif orderby == '~name' %} /task_change_view/{{ id }}/list?orderby=name {% else %} /task_change_view/{{ id }}/list?orderby=name {% endif %}" class="table-link">Nombre {% if orderby == "name" %} <i class="fa fa-caret-up" aria-hidden="true"></i> {% elif orderby == "~name" %} <i class="fa fa-caret-down" aria-hidden="true"></i>{% endif %}</a> </th>
            <th> <a href="#" hx-target="#target-tasks" hx-get="{% if orderby == 'description' %}  /task_change_view/{{ id }}/list?orderby=~description {% elif orderby == '~description' %} /task_change_view/{{ id }}/list?orderby=description {% else %} /task_change_view/{{ id }}/list?orderby=description {% endif %}" class="table-link">Descripción {% if orderby == "description" %} <i class="fa fa-caret-up" aria-hidden="true"></i> {% elif orderby == "~description" %} <i class="fa fa-caret-down" aria-hidden="true"></i>{% endif %}</a> </th>
            <th> <a href="#" hx-target="#target-tasks" hx-get="{% if orderby == 'status' %}  /task_change_view/{{ id }}/list?orderby=~status {% elif orderby == '~status' %} /task_change_view/{{ id }}/list?orderby=status {% else %} /task_change_view/{{ id }}/list?orderby=status {% endif %}" class="table-link">Estatus {% if orderby == "status" %} <i class="fa fa-caret-up" aria-hidden="true"></i> {% elif orderby == "~status" %} <i class="fa fa-caret-down" aria-hidden="true"></i>{% endif %}</a> </th>
            <th> <a href="#" hx-target="#target-tasks" hx-get="{% if orderby == 'finish_date' %}  /task_change_view/{{ id }}/list?orderby=~finish_date {% elif orderby == '~finish_date' %} /task_change_view/{{ id }}/list?orderby=finish_date {% else %} /task_change_view/{{ id }}/list?orderby=finish_date {% endif %}" class="table-link">Fecha estimada {% if orderby == "finish_date" %} <i class="fa fa-caret-up" aria-hidden="true"></i> {% elif orderby == "~finish_date" %} <i class="fa fa-caret-down" aria-hidden="true"></i>{% endif %}</a> </th>
            <th> <a href="#" hx-target="#target-tasks" hx-get="{% if orderby == 'created_on' %}  /task_change_view/{{ id }}/list?orderby=~created_on {% elif orderby == '~created_on' %} /task_change_view/{{ id }}/list?orderby=created_on {% else %} /task_change_view/{{ id }}/list?orderby=created_on {% endif %}" class="table-link">Fecha de creación {% if orderby == "created_on" %} <i class="fa fa-caret-up" aria-hidden="true"></i> {% elif orderby == "~created_on" %} <i class="fa fa-caret-down" aria-hidden="true"></i>{% endif %}</a> </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        {% for row in rows %}
        <tr id="row-{{ row['id'] }}">
            <td>{{ row['id'] }}</td>
            <td>{{ row['project'] }}</td>
            <td>{{ row['name'] }}</td>
            <td>{{ row['description'][:30] + '...' if len(row['description']) > 30 else row['description'] }}</td>   
            <td>{{ row['status'] }}</td>
            <td><span class="{{ row['span'] }}">{{ row['finish_date'] }}</span></td>                        
            <td>{{ row['created_on'].date() }}</td>

            <td>
                <a href="/task/edit/{{ row['id'] }}" title="Editar tarea"><button class="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button></a>
                <button class="button" id="delete_{{ row['id'] }}" onclick="deleteRow('{{ row['id'] }}')" title="Eliminar tarea"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </td>
        </tr>  
        {% endfor %}
    </tbody>
</table>