{% extends "layout.html" %}

{% block title %}Tareas{% endblock %}

{% block content %}
<div class="columns">
    <div class="column"></div>
    <div class="column is-four-fifths tasks-main">

        <div>
            <h1 class="title">{{ project['name'] }}</h1>

            
            <div style="margin-bottom: 1rem;">
                {% if create == True %}
                <a href="/home"><button class="button" title="Volver a proyectos"><i class="fa fa-arrow-left" aria-hidden="true"></i></button></a>    
                <a href="/task/new/{{id}}"><button class="button" title="Nueva tarea"><i class="fa fa-plus" aria-hidden="true"></i></button></a>
                {% endif %}
                {% if device_type == 'desktop' %}
                <button title="Vista de tabla" class="button" hx-get="/task_change_view/{{ id }}/list" hx-target="#target-tasks"><i class="fa fa-table" aria-hidden="true"></i></button>
                <button title="Vista de kanban" class="button" hx-get="/task_change_view/{{ id }}/kanban" hx-target="#target-tasks"><i class="fa fa-cubes" aria-hidden="true"></i></button>      
                {% endif %}
            </div>
            

            
        </div>

        
        
        <div id="target-tasks" hx-get="/task_change_view/{{ id }}/{{ view }}" hx-trigger="load" hx-swap="innerHTML"></div>

    </div>
    <div class="column"></div>
</div>
    
{% endblock %}

{% block scripts %}
<!--
<script>
    document.addEventListener('htmx:configRequest', function (event) {
        const input = event.target;
        if (input.name === 'is_complete') {
            const isChecked = input.checked ? 'on' : 'off';
            const rowId = input.getAttribute('data-id');
            event.detail.parameters = {
                is_complete: isChecked,
                id: rowId
            };
        }
    });
</script>
-->

    <script>
        function deleteRow(rowId) {
            Swal.fire({
                title: "¿Estás seguro?",
                text: "¡No podrás revertir esto!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Sí, elimínalo!"
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch('/task/delete/' + rowId, {
                        method: 'DELETE',
                    })
                    .then(response => {
                        if (response.ok) {
                            Swal.fire({
                                title: "¡Eliminado!",
                                text: "El registro ha sido eliminado.",
                                icon: "success"
                            }).then(() => {
                                location.reload();
                            });
                        } else {
                            Swal.fire({
                                title: "Error",
                                text: "Hubo un problema al eliminar el registro.",
                                icon: "error"
                            });
                            console.error('Error al eliminar el registro:', response.statusText);
                        }
                    })
                    .catch(error => {
                        Swal.fire({
                            title: "Error",
                            text: "Hubo un problema al eliminar el registro.",
                            icon: "error"
                        });
                        console.error('Error al eliminar el registro:', error);
                    });
                }
            });
        }


    </script>
{% endblock %}