{% extends "layout.html" %}

{% block title %}Tarea{% endblock %}

{% block content %}
<div class="columns">
    <div class="column"></div>
    <div class="column">
        <div>
            <div class="field">
                <label class="label">Proyecto</label>
                <div class="control">
                    <div class="select is-fullwidth">
                        <select>
                            {% for project in projects %}
                            <option value="{{ project['id'] }}">{{ project['name'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>             
            <div class="field">
                <label class="label">Nombre</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Regar las plantas" name="name" id="name" value="{{ name }}" required>
                </div>
            </div>                
            <div class="field">
                <label class="label">Descripción</label>
                <div class="control">
                    <textarea class="textarea has-fixed-size" placeholder="No olvidar que las plantas deben regarse todos los dias" name="description" id="description" required>{{ description }}</textarea>
                </div>
            </div>
            <div class="field">
                <label class="label">Fecha estimada</label>
                <div class="control">
                    <input class="input" type="date" name="finish_date" id="finish_date" value="{{ finish_date }}" min="{{ now }}" required>
                </div>
            </div>

            {% if arg == "edit" %}
            <div class="field">
                <div class="control">
                    <label class="label">¿Completado?</label>
                    <label class="radio">
                        <input type="radio" name="is_complete" value="true" {% if is_complete == True %} checked {% endif %}>
                        Si
                    </label>
                    <label class="radio">
                        <input type="radio" name="is_complete" value="false" {% if is_complete == False %} checked {% endif %}>
                        No
                    </label>
                </div>
            </div>
            {% endif %}

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" type="submit" id="send">Enviar</button>
                </div>
                <div class="control">
                    <a href="/home"><button class="button is-link is-light">Cancelar</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="column"></div>
</div>
    
{% endblock %}

{% block scripts %}

<script>
    document.addEventListener('keydown', function(event) {
        if (event.ctrlKey && event.key === 's') {
            event.preventDefault(); 
            document.getElementById('send').click();
        }
    });
</script>

<script>
    document.getElementById('send').addEventListener('click', function(event) {
        event.preventDefault();

        const name = document.getElementById('name').value;
        const description = document.getElementById('description').value;
        const finish_date = document.getElementById('finish_date').value;
        const is_complete_element = document.querySelector('input[name="is_complete"]:checked');
        
        // Si no se selecciona ninguna opción, asignar un valor predeterminado (por ejemplo, false)
        const is_complete = is_complete_element ? is_complete_element.value === 'true' : false;
        
        const data = {
            name: name,
            description: description,
            finish_date: finish_date,
            arg: `{{ arg }}`,
            id: `{{ id }}`,
            is_complete: is_complete
        };

        fetch('/api/task', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);

            let timerInterval;
            Swal.fire({
            title: "¡Gracias!",
            text: "Tarea guardada con éxito",
            timer: 1500,
            timerProgressBar: true,
            didOpen: () => {
                Swal.showLoading();
                const timer = Swal.getPopup().querySelector("b");
                timerInterval = setInterval(() => {
                timer.textContent = `${Swal.getTimerLeft()}`;
                }, 100);
            },
            willClose: () => {
                clearInterval(timerInterval);
            }
            }).then((result) => {
            /* Read more about handling dismissals below */

            if (result.dismiss === Swal.DismissReason.backdrop) {
                window.location.href = "/home";
            };

            if (result.dismiss === Swal.DismissReason.timer) {
                window.location.href = "/home";
            }
            });


        })
        .catch((error) => {
            console.error('Error:', error);
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Ha ocurrido un error"
                });
        });
    });
</script>
{% endblock %}